<div class="container theme">
    <div class="row pt-3">
        <div class="col-12 col-md-8 order-2 order-md-1">

            <div class="row">
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2 class="card-title">Copy the {{object.name}} Emoji</h2>
                            <input type="card-text bigmoji" id="copy-paste" value="{{ object.emoji }}">
                            <!-- <p class="card-text bigmoji">{{ object.emoji }}</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2 class="card-title">{{object.name}} Emoji Image</h2>
                            <p class="card-text bigmoji"><img src="{{object.android_11_0}}" width="200" height="200"
                                    alt="{{object.name}} Emoji Image"></p>
                        </div>
                    </div>
                </div>
            </div>




            
            <div class="card card-details">
                <div class="card-header">
                    <h2>About the {{object.name}} Emoji</h2>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <th>Emoji Name:</th>
                                <td>{{ object.name }}</td>
                            </tr>
                            <tr>
                                <th>Emoji Short Name</th>
                                <td>{{ object.unicode_shortname }}</td>
                            </tr>
                            <tr>
                                <th>Keywords:</th>
                                <td>{{object.unicode_keywords}}</td>
                            </tr>
                            <tr>
                                <th>Categories:</th>
                                <td>{{object.unicode_categories}}</td>
                            </tr>
                            <tr>
                                <th>Unicode Version:</th>
                                <td>{{object.unicode_version}}</td>
                            </tr>
                            <tr>
                                <th>Unicode Codepoints:</th>
                                <td>{{object.unicode_codepoints}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="card card-details">
                <div class="card-header">
                    <h2>How to type {{object.emoji}} Emoji</h2>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                            {% for key, value in hexcodes.items %}
                            <tr>
                                <th>{{key}}</th>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="see-licenses">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>How {{object.name}} emoji look like</h2>
                </div>
                <ul class="nav nav-pills flex-column">

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 4.4 KitKat</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_4_4_kitkat != "No" %}
                                <img src="{{object.android_4_4_kitkat}}" width="128" height="128"
                                    alt="Android 4.4 KitKat">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>
                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 5.1 Lollipop</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_5_1_lollipop != "No" %}
                                <img src="{{object.android_5_1_lollipop}}" width="128" height="128"
                                    alt="Android 5.1 Lollipop">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 6.0.1 Marshmallow</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_6_0_1_marshmallow != "No" %}
                                <img src="{{object.android_6_0_1_marshmallow}}" width="128" height="128"
                                    alt="Android 6.0.1 Marshmallow">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 7.1.1 Nougat</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_7_1_1_nougat != "No" %}
                                <img src="{{object.android_7_1_1_nougat}}" width="128" height="128"
                                    alt="Android 7.1.1 Nougat">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 8.0 Oreo</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_8_0_oreo != "No" %}
                                <img src="{{object.android_8_0_oreo}}" width="128" height="128" alt="Android 8.0 Oreo">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 9.0 Pie</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_9_0_pie != "No" %}
                                <img src="{{object.android_9_0_pie}}" width="128" height="128" alt="Android 9.0 Pie">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 10.0</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_10_0 != "No" %}
                                <img src="{{object.android_10_0}}" width="128" height="128" alt="Android 10.0">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Android 11.0</h4>
                            </div>
                            <div class="text-success">
                                {% if object.android_11_0 != "No" %}
                                <img src="{{object.android_11_0}}" width="128" height="128" alt="Android 11.0">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>FxEmojis 1.7.9</h4>
                            </div>
                            <div class="text-success">
                                {% if object.fxemojis_1_7_9 != "No" %}
                                <img src="{{object.fxemojis_1_7_9}}" width="128" height="128" alt="FxEmojis 1.7.9">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>OpenMoji 12.2</h4>
                            </div>
                            <div class="text-success">
                                {% if object.openmoji_12_2 != "No" %}
                                <img src="{{object.openmoji_12_2}}" width="128" height="128" alt="OpenMoji 12.2">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Twemoji 2.3</h4>
                            </div>
                            <div class="text-success">
                                {% if object.twemoji_2_3 != "No" %}
                                <img src="{{object.twemoji_2_3}}" width="128" height="128" alt="Twemoji 2.3">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Twemoji 12.1.5</h4>
                            </div>
                            <div class="text-success">
                                {% if object.twemoji_12_1_5 != "No" %}
                                <img src="{{object.twemoji_12_1_5}}" width="128" height="128" alt="Twemoji 12.1.5">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>

                    <li class="nav-item">
                        <!-- <a class="nav-link" href="/emoji/{{object.name|slugify}}" id="{{object.name|slugify}}"> -->
                        <div class="d-flex justify-content-between">
                            <div class="text-center d-flex justify-content-center">
                                <h4>Twemoji 13.0</h4>
                            </div>
                            <div class="text-success">
                                {% if object.twemoji_13_0 != "No" %}
                                <img src="{{object.twemoji_13_0}}" width="128" height="128" alt="Twemoji 13.0">
                                {% else %}
                                Not supported
                                {% endif %}
                            </div>
                        </div>
                        <!-- </a> -->
                    </li>
                    <hr>
                </ul>
            </div>

            <div class="row">
            <a class="btn btn-block btn-lg btn-success" href="{% url 'category_detail' 'top-100-emoji' %}"><h2>🔝 TOP 100</h2></a>
            </div>



            <div class="row related-emoji">
                {% for emoji in random_emoji|slice:"10:15" %}
                <div class="col-sm-6 px-4 py-4">
                    <div class="card bg-light text-center">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: 3em;">{{emoji.emoji}}</h4>
                            <a class="card-text" href="{% url 'emoji_detail' emoji.slug %}">{{emoji.name}}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- /.col -->

             </div>
             <!-- /.row -->



            
        </div>


        {% include "bsbay_component/sidebar.html" %}

