<div class="container theme">
    <div class="row">
        <div class="col-12 col-md-8 order-2 order-md-1">
            <div class="d-none d-md-block">
                <div class="screenshot-holder">
                    <div class="screenshot">
                        <a href="http://html.codedthemes.com/datta-able/index-bb.html" target="_blank">
                            <img src="bsbay_files/1500px.png" alt="1500px">
                        </a>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="http://html.codedthemes.com/datta-able/index-bb.html" class="btn btn-primary btn-live"
                        target="_blank">Live Preview</a>
                </div>
            </div>
            <!-- 		      this is the content that gets changed from the page view -->
            <div class="tabs">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" id="description"
                            href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#description">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="comments"
                            href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E/comments#comments">
                            Comments • 9
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews"
                            href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E/reviews#reviews">
                            Reviews • 1
                        </a>
                    </li>
                </ul>
            </div>

            <div class="description">
                <p><strong>Visual Presentation</strong></p>

                <p><img src="bsbay_files/adv-banner.jpg" alt="Datta Able Bootstrap 4 Admin Template"></p>

                <p><strong>Datta Able in details</strong></p>

                <p>Datta Able Admin Template made in Bootstrap 4 framework for achieve any easy or complex dashboard
                    need. Develop by codedthemes experience team. We've made Datta Able dashboard template as
                    completely flexible to use in your project. Explore Datta Able demos which fulfill your need.
                </p>

                <p><strong>Features</strong></p>

                <p>Here are top features comes with Datta Able admin theme. We've higlight few of theme in below
                    points.</p>

                <ul>
                    <li>20+ Page layouts (+counting)</li>
                    <li>Live customizer to choose what setting your project desire</li>
                    <li>Well structured code styles</li>
                    <li>Fully responsive and browser tested design</li>
                    <li>Eye catchy color styles</li>
                    <li>Made for performance and high aesthetic code</li>
                    <li>Detailed video tutorial series with online documentation availability</li>
                </ul>

                <p><strong>About Design</strong></p>

                <p>Pure eye catchy and vibrant colors are used in Datta Able Dashboard Template. More than 30+
                    preset color combination come up with template. You can also apply your custom color combination
                    via single change in SCSS file with the help of Documentation OR video helper guide.</p>

                <p><strong>Responsive</strong></p>

                <p>Datta Able design fully support each responsive device sizes even it is retina screens and tested
                    in major devices like iPad, tablets, mobiles. We've improve Datta Able design in various aspects
                    like smooth rendering, easy scroll, reduce design glitch etc...</p>

                <p><strong>Performance</strong></p>

                <ul>
                    <li>Performance is our key point before developing Datta Able Admin Theme and we've made it with
                        lots of testing and efforts on code improvement.</li>
                    <li>Datta Able Admin Theme is made for performance and we've achieve it in terms of design
                        testing or code testing. Design passed with good score in Google Page Speed, Pingdom,
                        gtMetrix and code passed via w3 validators.</li>
                    <li>notes - live demos have tons of features active, due to server location score may differ in
                        Google Page Speed, Pingdom, gtMetrix.</li>
                </ul>

                <p><strong>Flexibility</strong></p>

                <ul>
                    <li>Design and code is fully flexible to use directly in your project setup via Documentation
                        helper, video helper tutorial, separate page </li>
                    <li>for direct copy/paste(components, charts, widgets, form elements)</li>
                    <li>Our newly lanched video series helps you in every steps in your development 24x7 without
                        contacting further in our support desk.</li>
                    <li>Request new feature/video tutorial - contact us.</li>
                </ul>

                <p><strong>Layouts</strong></p>

                <p>Combine of Menu and page layouts with 20+ variants (still counting) comeup with package. Each
                    layout have tons of options higlighted in Live customizer. Please check demos first.</p>

                <p>Available layout color presets</p>

                <ul>
                    <li>Default (i.e. Dark Light)</li>
                    <li>Dark</li>
                    <li>Light Dark</li>
                    <li>Fill color</li>
                    <li>Color icon</li>
                    <li>Background image</li>
                    <li>Material style</li>
                    <li>Gmail style</li>
                </ul>

                <p>Layout setting presets</p>

                <ul>
                    <li>Vertical</li>
                    <li>Horizontal</li>
                    <li>RTL</li>
                    <li>Box</li>
                    <li>Header fixed</li>
                    <li>Menu fixed</li>
                    <li>Collapse</li>
                </ul>

                <p><strong>Smart Menu</strong></p>

                <p>We called Datta Able sidebar menu as a SMART MENU because we've applied all the possible options
                    with one click live customizer. Check the detail setup tutorial about how its working - video
                </p>

                <p>Smart menu have various settings like</p>

                <ul>
                    <li>Fill Color</li>
                    <li>Active color</li>
                    <li>Horizontal/Vertical</li>
                    <li>Collapse</li>
                    <li>RTL</li>
                    <li>Icon color</li>
                    <li>Open/Close icon</li>
                    <li>Material Inspired Design</li>
                    <li>Gmail Inspired Design</li>
                    <li>Image Background</li>
                </ul>

                <p><strong>Widgets</strong></p>

                <p>150+ ready to use widget collection like statistics, analytics, user cards, charts, tables,
                    chats, data widgets, slider widgets.</p>

                <p><strong>Components</strong></p>

                <p>Datta Able Admin Template comes with all Bootstrap basic components and we've also implemented
                    extra 3'rd party tons of components which listed below. All components are in latest version
                    too.</p>

                <ul>
                    <li>Advance components</li>
                    <li>Form Components</li>
                    <li>Tables</li>
                    <li>Extra</li>
                    <li>Font Icons</li>
                </ul>

                <p><strong>Extensive Chart</strong></p>

                <p>Dashboard needs chart to highlight statistics data in your project. We've implemented more than
                    40+ charts with tons of variety options. For your flexibility Datta Able come with extra helper
                    page for chart - click here</p>

                <p>Chart types</p>

                <ul>
                    <li>amChart 4</li>
                    <li>chartJS</li>
                    <li>eChart</li>
                    <li>Google chart</li>
                    <li>Highchart</li>
                    <li>knob</li>
                    <li>Morris</li>
                    <li>nvd3</li>
                    <li>peity</li>
                    <li>redial</li>
                </ul>

                <p>Maps</p>

                <ul>
                    <li>Google maps</li>
                    <li>Vector</li>
                    <li>Gmap search API</li>
                    <li>Location</li>
                </ul>

                <p><strong>App &amp; Extensions</strong></p>

                <p>Datta Able comes with variety of 3'rd party app &amp; extensions which directly usable in your
                    project. We're continously working on next app &amp; extensions for future release version
                    update.</p>

                <p>App</p>

                <ul>
                    <li>Message</li>
                    <li>Task</li>
                    <li>To-do</li>
                    <li>Gallery</li>
                </ul>

                <p>Extensions</p>

                <ul>
                    <li>Editor - ckEditor, Tinymce</li>
                    <li>Invoice</li>
                    <li>Full Calendar</li>
                    <li>File upload</li>
                </ul>

                <p><strong>Support</strong></p>

                <p>Separate support desk for quick resolution of your query. Our previous support ratio result is
                    90% query resolution in 1'st response.</p>

                <ul>
                    <li>Theme Package without Live Customizer &amp; Page Builder (i.e. Demo Purpose only)</li>
                    <li>Live demo preview image is not included in package</li>
                    <li>Documentation included in template directory with strongdocs.html/strong file name</li>
                </ul>

                <p><strong>Credits</strong></p>

                <ul>
                    <li><a href="https://getbootstrap.com/">Bootstrap 4</a></li>
                    <li><a href="https://fonts.google.com/">Open Sans – Google Font</a></li>
                    <li><a href="https://www.iconfinder.com/">Free Images</a></li>
                    <li><a href="http://html.codedthemes.com/datta-able/bootstrap/default/docs">Plugins
                            references</a></li>
                </ul>

            </div>


        </div>
        <div class="col-12 col-md-4 order-1 order-md-2">
            <div class="d-block d-md-none">
                <div class="screenshot-holder">
                    <div class="screenshot">
                        <a href="http://html.codedthemes.com/datta-able/index-bb.html" target="_blank">
                            <img src="bsbay_files/1500px.png" alt="1500px">
                        </a>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="http://html.codedthemes.com/datta-able/index-bb.html" class="btn btn-primary btn-live"
                        target="_blank">Live Preview</a>
                </div>
            </div>
            <!-- <div class="new-licenses d-flex justify-content-between align-items-center">
            <select class="custom-select select-license" id="select-license">
              <option value="1" selected>Single Application</option>
              <option value="2">Multiple Applications</option>
            </select>
            <a href=/licenses class="license-details" target="_blank">License Details</a>
          </div> -->

            <!-- license options -->
            <div class="see-licenses">
                <div class="d-flex justify-content-between align-items-center">
                    <h6>License</h6>
                    <div class="details">
                        <a href="licenses" class="license-details"
                            target="_blank">Details</a>
                    </div>
                </div>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active"
                            href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#nowhere"
                            id="single-license">
                            <div class="d-flex justify-content-between">
                                <div>Single Application</div>
                                <div class="text-success">
                                    29$
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#nowhere"
                            id="multiple-license">
                            <div class="d-flex justify-content-between">
                                <div>Multiple Applications</div>
                                <div class="text-success">
                                    116$
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
            <!-- quality guarantee -->
            <div class="checks">
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-check text-success" aria-hidden="true"></i> Quality check by BootstrapBay
                    </li>
                    <li>
                        <i class="fa fa-check text-success" aria-hidden="true"></i> Unlimited access to future
                        updates
                    </li>
                    <li>
                        <i class="fa fa-check text-success" aria-hidden="true"></i> Unlimited support after purchase
                    </li>
                    <li>
                        <i class="fa fa-check text-success" aria-hidden="true"></i> 1-day response time from
                        BootstrapBay for support requests
                    </li>
                    <li>
                        <i class="fa fa-check text-success" aria-hidden="true"></i> 30-days money back guarantee
                    </li>
                </ul>
            </div>
            <hr>
            <div class="buttons">
                <a class="btn btn-block btn-lg btn-success"
                    href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#a"
                    data-toggle="modal" data-target="#log-in"><b>Buy now</b> for <span
                        class="btn-price">29$</span></a>
                <div class="text-center">
                    <small class="text-muted m-0"><a
                            href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#a"
                            data-toggle="modal" data-target="#log-in">Log in</a> or <a
                            href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#a"
                            data-toggle="modal" data-target="#sign-up">sign up</a> to purchase. Price displayed
                        excludes VAT.</small>
                </div>

            </div>

            <div class="card card-author">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="avatar">
                            <a href="user/codedthemes"><img
                                    src="bsbay_files/152px.png" alt="152px"></a>
                        </div>
                        <div class="author">
                            <a href="user/codedthemes">codedthemes</a>
                            <br> in
                            <a href="themes/?category=admin-dashboard">
                                Admin &amp; Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-details">
                <div class="card-header">
                    <h5>About the Theme</h5>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <th>Product Version: </th>
                                <td>2.0</td>
                            </tr>
                            <tr>
                                <th>Bootstrap:</th>
                                <td>4.1.0</td>
                            </tr>
                            <tr>
                                <th>Browsers:</th>
                                <td>chrome, firefox, safari, opera, ie11</td>
                            </tr>
                            <tr>
                                <th>Tags:</th>
                                <td><b><a href="themes?q=admin+template">admin
                                            template</a>, <a
                                            href="themes?q=bootstrap+admin+template">bootstrap
                                            admin template</a>, <a
                                            href="themes?q=premium+admin+template">premium
                                            admin template</a>, <a
                                            href="themes?q=admin+theme">admin
                                            theme</a>, <a
                                            href="themes?q=dashboard+template">dashboard
                                            template</a>, <a
                                            href="themes?q=boostrap+4">boostrap
                                            4</a>, <a
                                            href="themes?q=saas">saas</a></b></td>
                            </tr>
                            <tr>
                                <th>Release Date: </th>
                                <td>November 30, 2018</td>
                            </tr>
                            <tr>
                                <th>Last Update: </th>
                                <td>May 15, 2019</td>
                            </tr>
                            <tr>
                                <th>Downloads: </th>
                                <td>108</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-sibling mt-4">
                <div class="card-header">
                    <h5>Get the Free Demo</h5>
                </div>
                <div class="card-body">
                    <div class="card card-theme">
                        <a
                            href="theme/datta-able-free-bootstrap-admin-template-B2278BD"><img
                                class="card-img-top theme-image" src="bsbay_files/free-version.png"
                                alt="Free version"></a>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <div class="name">
                                    <a
                                        href="theme/datta-able-free-bootstrap-admin-template-B2278BD">Datta
                                        Able - Free Bootstrap Admin Template</a>
                                </div>
                                <div class="price-block d-flex justify-content-end">
                                    <div class="price">
                                        Free
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div class="author-info">
                                    <span class="avatar">
                                        <a href="user/codedthemes"><img
                                                src="bsbay_files/152px.png" alt="152px"></a>
                                    </span>
                                    <span class="author">
                                        <a href="user/codedthemes">codedthemes</a>
                                        in
                                        <a
                                            href="themes/?category=admin-dashboard">
                                            Admin &amp; Dashboard
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>