<footer class="footer" style="background-image: url('/static/bsbay_files/footer.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2">
                <h6>Company</h6>
                <ul class="list-unstyled">
                    <li><a href="http://bootstrapbay.com/blog/">Blog</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="feed">RSS Feed</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h6>Help &amp; Support</h6>
                <ul class="list-unstyled">
                    <li><a href="faq">FAQ</a></li>
                    <li><a href="submission-guidelines">Submission Guidelines</a>
                    </li>
                    <li><a href="payment-rates">Payment Rates</a></li>
                    <li><a href="contact-support">Contact &amp; Support</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h6>Resources</h6>
                <ul class="list-unstyled">
                    <li><a href="http://bootstrapbay.com/blog/bootstrap-resources/">Resource List</a></li>
                    <li><a href="https://stocksnap.io/" target="_blank">Free Stock Photos</a></li>
                    <li><a href="https://snappa.io/" target="_blank">Graphic Design Tool</a></li>
                    <li><a href="https://www.instamobile.io/?source=2" target="_blank">React Native Templates</a>
                    </li>
                    <li><a href="https://themeisle.com/" target="_blank">Wordpress Themes</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h6>Legal</h6>
                <ul class="list-unstyled">
                    <li><a href="licenses">Licenses</a></li>
                    <li><a href="terms">Terms &amp; Conditions</a></li>
                    <li><a href="privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h6>Join our community</h6>

                <form class="form-subscribe form-inline w-100" action="subscribe"
                    accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input
                        type="hidden" name="authenticity_token"
                        value="U92PKFdJUQClM32QuTFhr3/JxjkS+QarF54AWRBl5HsrkrXsZ5F+DK2kF2MbIj2JNC6fRqCoTjtdN3AoxU/jyA==">
                    <label class="sr-only"> Email </label>
                    <input type="email" name="subscribe_email" id="subscribe_email"
                        class="form-control white-input mb-2 mr-sm-2 w-80" placeholder="Your Email…">
                    <input type="submit" name="commit" value="Join" class="btn btn-success mb-2"
                        data-disable-with="Join">
                </form>
                <div class="social d-flex justify-content-between">
                    <div class="title">
                        <h6>Follow us</h6>
                    </div>
                    <div class="networks">
                        <a itemprop="sameAs" href="https://twitter.com/bootstrapbay" target="_blank"> <i
                                class="zmdi zmdi-twitter"></i> </a>
                        <a itemprop="sameAs" href="https://ro-ro.facebook.com/bootstrapbayofficial/"
                            target="_blank"> <i class="zmdi zmdi-facebook-box"></i> </a>
                        <a itemprop="sameAs" href="https://www.linkedin.com/company/bootstrapbay" target="_blank">
                            <i class="zmdi zmdi-linkedin"></i> </a>
                        <a itemprop="sameAs" href="https://dribbble.com/bootstrapbay" target="_blank"> <i
                                class="zmdi zmdi-dribbble"></i> </a>
                        <a itemprop="sameAs" href="http://www.youtube.com/user/bootstrapbayofficial"
                            target="_blank"> <i class="zmdi zmdi-youtube"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row no-gutters">
            <div class="col-7 col-md-4 sell d-flex">
                <div class="sell-btn">
                    <a href="sell" class="btn btn-success">
                        Sell Templates
                    </a>
                </div>
                <p class="info d-none d-md-block">
                    Earn 55% and more on all sales
                </p>
            </div>
            <div class="col-5 col-md-4 affiliate d-flex">
                <div class="aff-btn">
                    <a href="affiliate" class="btn btn-primary">
                        Affiliate
                    </a>
                </div>
                <p class="info d-none d-md-block">
                    Earn 30% on all sales you refer
                </p>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex flex-row justify-content-between">
                    <div class="fact">
                        <h6>80,278</h6>
                        <p>Members</p>
                    </div>
                    <div class="fact">
                        <h6>13,243</h6>
                        <p>Downloads</p>
                    </div>
                    <div class="fact">
                        <h6>108</h6>
                        <p>Authors</p>
                    </div>
                    <div class="fact">
                        <h6>360</h6>
                        <p>Themes</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright d-flex justify-content-between">
            <div class="credits" itemprop="name">
                © 2021 BootstrapBay. All rights reserved.
            </div>
            <div class="payment">
                <i class="zmdi zmdi-lock-outline"></i> Secure Payment:
                <img class="img paypal-logo" src="bsbay_files/paypal.png" alt="Paypal">
                <img class="img fastspring-logo" src="bsbay_files/fastspring.png" alt="Fastspring">
            </div>
        </div>
    </div>
</footer>
