<footer class="footer" style="background-image: url('/static/bsbay_files/footer.jpg');">
    <div class="container">



        <div class="copyright d-flex justify-content-between text-white">|
            <a style="color: #b1b1b1;" href="{% url 'trademark' %}">Trademarks &amp; Licensing Information</a> |
            <a style="color: #b1b1b1;" href="{% url 'privacy_policy' %}">Privacy Policy</a> |
            <a style="color: #b1b1b1;" href="{% url 'cookie_policy' %}">Cookie Policy</a> |
            <a style="color: #b1b1b1;" href="{% url 'contact' %}">Imprint – Contact us</a> |
        </div>


        <hr>

        <div class="copyright d-flex justify-content-between">
            <div class="credits" itemprop="name">
                © 2021 SymbolSpace. All rights reserved.
            </div>
        </div>
    </div>



</footer>