{% load static %}

	<nav class="navbar navbar-expand-lg navbar-light navbar-transparent">
		<div class="container">
			<a class="navbar-brand" href="/" itemprop="url">
				<img src="{% static 'bsbay_files/white_logo.png' %}" alt="BootstrapBay - Bootstrap Themes &amp; Templates"
					itemprop="logo">
			</a>
<!-- 
			<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
				<i class="zmdi zmdi-menu"></i>
			</button> -->

			<!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle"
							href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#"
							id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							Categories
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="themes">All Categories</a>
							<a class="dropdown-item" href="themes?type=free">Free
								Themes</a>
							<a class="dropdown-item"
								href="themes?type=premium">Premium Themes</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item"
								href="themes?category=business-corporate"
								tabindex="-1" role="menuitem">Business &amp; Corporate</a>
							<a class="dropdown-item"
								href="themes?category=admin-dashboard" tabindex="-1"
								role="menuitem">Admin &amp; Dashboard</a>
							<a class="dropdown-item"
								href="themes?category=profile-portfolio" tabindex="-1"
								role="menuitem">Profile &amp; Portfolio</a>
							<a class="dropdown-item"
								href="themes?category=blog-magazine" tabindex="-1"
								role="menuitem">Blog &amp; Magazine</a>
							<a class="dropdown-item" href="themes?category=e-commerce"
								tabindex="-1" role="menuitem">E-Commerce</a>
							<a class="dropdown-item"
								href="themes?category=landing-page" tabindex="-1"
								role="menuitem">Landing Page</a>
							<a class="dropdown-item" href="themes?category=resume-cv"
								tabindex="-1" role="menuitem">Resume &amp; CV</a>
							<a class="dropdown-item" href="themes?category=misc"
								tabindex="-1" role="menuitem">Misc</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="sell">Sell</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://bootstrapbay.com/blog/">Blog</a>
					</li>
				</ul>

				<div class="d-flex justify-content-center justify-content-lg-start">
					<form class="form-inline my-2 my-lg-0 search-form" action="emoji"
						accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
						<input type="text" name="q" id="q" value="" class="form-control white-input mr-sm-2"
							placeholder="search here for your next emoji">
						<button type="submit" class="btn btn-success btn-icon my-2 my-sm-2">
							<i class="zmdi zmdi-search"></i>
						</button>
					</form>
				</div>

				<div class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link "
							href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#a"
							data-toggle="modal" data-target="#log-in">Log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link "
							href="theme/datta-able-bootstrap-admin-template-ui-kit-BEEB58E#a"
							data-toggle="modal" data-target="#sign-up">Sign Up</a>
					</li>
				</div>
			</div>
		</div> -->
	</nav>