<div class="recommended-themes">
    <div class="container">
        <h4>You may also be interested in:</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 theme-row">
                <div class="card card-theme">
                    <a href="theme/queenadmin-beautiful-admin-dashboard-BD4B562"><img
                            class="card-img-top theme-image" src="bsbay_files/BD4B562.png" alt="Bd4b562"></a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="name">
                                <a
                                    href="theme/queenadmin-beautiful-admin-dashboard-BD4B562">QueenAdmin
                                    - Beautiful Admin Dashboard</a>
                            </div>
                            <div class="price-block d-flex justify-content-end">
                                <div class="price">
                                    10$
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div class="author-info">
                                <span class="avatar">
                                    <a href="user/thedevelovers"><img
                                            src="bsbay_files/thedevelovers_profile.png"
                                            alt="Thedevelovers profile"></a>
                                </span>
                                <span class="author">
                                    <a href="user/thedevelovers">thedevelovers</a>
                                    in
                                    <a href="themes/?category=admin-dashboard">
                                        Admin &amp; Dashboard
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 theme-row">
                <div class="card card-theme">
                    <a
                        href="theme/aboard-react-bootstrap-4-admin-template-B4C1587"><img
                            class="card-img-top theme-image" src="bsbay_files/aboard-homepage-bootstrapbay.png"
                            alt="Aboard homepage bootstrapbay"></a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="name">
                                <a
                                    href="theme/aboard-react-bootstrap-4-admin-template-B4C1587">Aboard
                                    – React Bootstrap 4 Admin Template</a>
                            </div>
                            <div class="price-block d-flex justify-content-end">
                                <div class="price">
                                    15$
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div class="author-info">
                                <span class="avatar">
                                    <a href="user/thedevelovers"><img
                                            src="bsbay_files/thedevelovers_profile.png"
                                            alt="Thedevelovers profile"></a>
                                </span>
                                <span class="author">
                                    <a href="user/thedevelovers">thedevelovers</a>
                                    in
                                    <a href="themes/?category=admin-dashboard">
                                        Admin &amp; Dashboard
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 theme-row">
                <div class="card card-theme">
                    <a
                        href="theme/perfect-admin-bootstrap-admin-template-BC4E1C4"><img
                            class="card-img-top theme-image" src="bsbay_files/BC4E1C4.png" alt="Bc4e1c4"></a>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="name">
                                <a
                                    href="theme/perfect-admin-bootstrap-admin-template-BC4E1C4">Perfect
                                    Admin - Bootstrap Admin Template</a>
                            </div>
                            <div class="price-block d-flex justify-content-end">
                                <div class="price">
                                    18$
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div class="author-info">
                                <span class="avatar">
                                    <a href="user/endless"><img
                                            src="bsbay_files/endless_profile.png" alt="Endless profile"></a>
                                </span>
                                <span class="author">
                                    <a href="user/endless">endless</a>
                                    in
                                    <a href="themes/?category=admin-dashboard">
                                        Admin &amp; Dashboard
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>