{% extends 'bsbay.html' %}

{% block page_title %}All Kaomoji by categories{% endblock %}

{% block h1 %}        All Kaomoji by categories    {% endblock %}

{% block content %}

<div class="container theme">
    <div class="row pt-3">
      
        <div class="col-12 col-md-8 order-2 order-md-1">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category name</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in object_list %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="/emo/{{object.slug}}" title="{{object.name}}">{% if object.name %}{{object.name}}{% else %}{{object.description}}{{object.slug}}{% endif %}</a></td>
                    <td>{{object.description}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
              <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
              
                    <span class="current-page">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
              
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
              </div>


        </div>

    </div>
</div>




{% endblock %}