{% extends 'bsbay.html' %}

{% block page_title %}🐢 SymbolSpace 🌍 | Emoji Copy & Paste | Get to know the meanings of each emoji{% endblock %}

{% block h1 %}🐢 SymbolSpace 🌍 | Emoji Copy & Paste | Get to know the meanings of each emoji{% endblock %}

{% block content %}

<div class="container theme">
    <div class="row pt-3">
        <div class="col-12 col-md-8 order-2 order-md-1">
            <div class="col-12 col-sm-6 col-lg-4">
                
                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="card-title">Bologna</h4>
                        <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                        <p class="card-text">It is the seventh most populous city in Italy, at the heart of a
                            metropolitan area of about one million people. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "bsbay_component/sidebar.html" %}



{% endblock %}