{% extends 'bsbay.html' %}

{% block page_title %}{{ object.name }} Emoji {{object.emoji}}{{object.emoji}}{{object.emoji}}{% endblock %}

{% block h1 %}{{object.name}} Emoji ({{object.emoji}}{{object.emoji}}{{object.emoji}}){% endblock %}

{% block content %}

<div class="container theme">
    <div class="row pt-3">
        <div class="col-12 col-md-8 order-2 order-md-1">
{% for catname, emojilist in catdict.items %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card text-center">
                        <div class="card-body">
                            <h2 class="card-title">{{catname}} Emoji</h2>
                            <p>
                                {% for emoji in emojilist %}
                                {{ emoji.emoji }}
                                {% endfor %}
                                &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}


        </div>
    </div>
</div>




{% endblock %}