{% extends 'bsbay.html' %}

{% block page_title %}🐢 SymbolSpace 🌍 | Emoji Copy & Paste | Get to know the meanings of each emoji{% endblock %}

{% block h1 %}🐢 SymbolSpace 🌍 | Emoji Copy & Paste | Get to know the meanings of each emoji{% endblock %}

{% block content %}

<div class="container theme">
    <div class="row pt-3">
        <div class="col-12 col-md-8 order-2 order-md-1">

            <div class="col-12 col-sm-6 col-lg-4">
                {% if featured  %}
                {% for heading, subcat in featured.items %}

                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="card-title">{{heading}}</h4>
                        <p class="card-text">
                            <ul>
                                {% for catname, link in subcat.items %}
                                <li><a href="{{link}}">{{catname}}</a></li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                
            </div>

        </div>
    </div>
</div>


{% include "bsbay_component/sidebar.html" %}



{% endblock %}