{{name}} Lenny Face {{emoji}} is an emoticon used to suggest a mischievous mood, imply reaction of the original poster, or spam online discussions.<br>
The {{name}} Lenny Face was categorized as one of {{category}}. <br>
{{emoji}} is similar in style to a type of emoticon used in Japan known as a kaomoji.<br>
Kaomoji combines the Japanese words for face and letters. Unlike Western emoticons which are read sideways, like the smiley face emoticon, :D, {{emoji}} kaomoji intended to be read vertically, as is Lenny Face.<br>
For example, if someone posted “I was up all night,” another user could reply “You were up all night {{emoji}}” to add their emotion or indicate their sexual activity.
Without copy and pasting, the {{emoji}} Lenny Face can be difficult to produce, so some people might simply type “Lenny Face” or “Insert Lenny Face” in its place. <br>
In this site, you can simply click in the {{emoji}} box above and the lenny face will automatically be copied to the clipboard so you can paste it anywhere you want.